# Explore the finance-related text datasets

These datasets includes financial data in the text format to fine-tune language model for specific financial understanding tasks.

1. [Financial Reports SEC](#Financial-Reports-SEC)
2. [Financial PhraseBank](#Financial-Phrasebank)
3. [AStock](#astock)
4. [FinQA](#financial-qa-dataset)
5. [FLARE FinQA](#flare-finqa)
6. [ConvFinQA](#convfinqa-dataset)
7. [FLARE ConvFinQA](#flare-convfinqa)
8. [IBM FinTabNet](#ibm-fintabnet)
9. [IBM FinTabNet OTSL](#fintabnet-otsl)

To download the datasets on your dev environment, you can also use the [Download Script](../scripts/download_fin_data.py)

## Import the Libraries

Let's import the necessary libraries to explore the datasets.

In [2]:
from IPython.core.display import display, HTML
import pandas as pd
from io import StringIO
from datasets import load_dataset
from tqdm.notebook import tqdm

/var/folders/p7/r5r4nxk51x346x1818930krc0000gr/T/ipykernel_45910/3388819558.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML
/Users/asabuncuoglu/Documents/fairness-monitoring/.venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
!mkdir ../data

mkdir: data: File exists

# Financial Reports SEC

Homepage: <https://huggingface.co/datasets/JanosAudran/financial-reports-sec>

In [6]:
# df = pd.read_csv('../data/fin_report_sec/train.csv')
# The CSV file requires some preprocessing to be loaded correctly
# So, I will call this from huggingface/datasets directly

# dataset = load_dataset("JanosAudran/financial-reports-sec", "large_full") It is around 10GB, so for demonstration we will use the smaller dataset
# possible options are "small_lite", "small_full", "large_lite", "large_full"
dataset = load_dataset("JanosAudran/financial-reports-sec", "small_lite")

/Users/asabuncuoglu/Documents/fairness-monitoring/.venv/lib/python3.10/site-packages/datasets/load.py:1461: FutureWarning: The repository for JanosAudran/financial-reports-sec contains custom code which must be executed to correctly load the dataset. You can inspect the repository content at https://hf.co/datasets/JanosAudran/financial-reports-sec
You can avoid this message in future by passing the argument `trust_remote_code=True`.
Passing `trust_remote_code=True` will be mandatory to load this dataset from the next major release of `datasets`.
  warnings.warn(
Downloading data: 100%|██████████| 2.88M/2.88M [00:00<00:00, 4.69MB/s]
Downloading data: 100%|██████████| 214k/214k [00:00<00:00, 709kB/s]
Downloading data: 100%|██████████| 674k/674k [00:00<00:00, 1.92MB/s]
Downloading data: 0.00B [00:00, ?B/s]
Downloading data: 0.00B [00:00, ?B/s]
Downloading data: 0.00B [00:00, ?B/s]
Downloading data: 0.00B [00:00, ?B/s]
Downloading data: 0.00B [00:00, ?B/s]
Downloading data: 0.00B [00:00, ?B/s]
Downloading data: 0.00B [00:00, ?B/s]
Downloading data: 100%|██████████| 3.65M/3.65M [00:00<00:00, 5.72MB/s]
Downloading data: 100%|██████████| 5.29M/5.29M [00:00<00:00, 8.63MB/s]
Downloading data: 100%|██████████| 1.33M/1.33M [00:00<00:00, 3.68MB/s]
Downloading data: 100%|██████████| 2.59M/2.59M [00:00<00:00, 4.85MB/s]
Downloading data: 100%|██████████| 2.51M/2.51M [00:00<00:00, 5.52MB/s]
Downloading data: 100%|██████████| 3.20M/3.20M [00:00<00:00, 5.80MB/s]
Downloading data: 100%|██████████| 7.29M/7.29M [00:00<00:00, 10.8MB/s]
Downloading data: 100%|██████████| 4.35M/4.35M [00:00<00:00, 7.21MB/s]
Downloading data: 100%|██████████| 4.40M/4.40M [00:00<00:00, 7.12MB/s]
Downloading data: 100%|██████████| 287k/287k [00:00<00:00, 1.21MB/s]
Downloading data: 100%|██████████| 1.30M/1.30M [00:00<00:00, 2.86MB/s]
Downloading data: 100%|██████████| 1.32M/1.32M [00:00<00:00, 2.91MB/s]
Downloading data: 100%|██████████| 1.48M/1.48M [00:00<00:00, 3.82MB/s]
Downloading data: 0.00B [00:00, ?B/s]
Downloading data: 0.00B [00:00, ?B/s]
Downloading data: 0.00B [00:00, ?B/s]
Downloading data: 0.00B [00:00, ?B/s]
Downloading data: 0.00B [00:00, ?B/s]
Downloading data: 0.00B [00:00, ?B/s]
Downloading data: 0.00B [00:00, ?B/s]
Generating train split: 100%|██████████| 200000/200000 [00:05<00:00, 37071.26 examples/s]
Generating validation split: 100%|██████████| 20000/20000 [00:00<00:00, 37101.33 examples/s]
Generating test split: 100%|██████████| 20000/20000 [00:00<00:00, 34350.93 examples/s]

In [10]:
df = dataset['train'].to_pandas()

In [11]:
df.head()

,cik,sentence,section,labels,filingDate,docID,sentenceID,sentenceCount
0,0000001750,ITEM 1.BUSINESS General AAR CORP. and its subs...,0,"{'1d': 0, '5d': 1, '30d': 0}",2020-07-21,0000001750_10-K_2020,0000001750_10-K_2020_section_1_0,1
1,0000001750,"AAR was founded in 1951, organized in 1955 and...",0,"{'1d': 0, '5d': 1, '30d': 0}",2020-07-21,0000001750_10-K_2020,0000001750_10-K_2020_section_1_1,2
2,0000001750,We are a diversified provider of products and ...,0,"{'1d': 0, '5d': 1, '30d': 0}",2020-07-21,0000001750_10-K_2020,0000001750_10-K_2020_section_1_2,3
3,0000001750,Fiscal 2020 began with strategic initiatives f...,0,"{'1d': 0, '5d': 1, '30d': 0}",2020-07-21,0000001750_10-K_2020,0000001750_10-K_2020_section_1_3,4
4,0000001750,Our momentum from a successful fiscal 2019 car...,0,"{'1d': 0, '5d': 1, '30d': 0}",2020-07-21,0000001750_10-K_2020,0000001750_10-K_2020_section_1_4,5

# Financial-PhraseBank

Homepage: [Financial PhraseBank](https://www.researchgate.net/publication/251231364_FinancialPhraseBank-v10)

Three-class (positive, negative, neutral) sentiment dataset of sentences from financial news. It consists a total of 4840 sentences from English language. The dataset is divided by agreement rate of 5-8 annotators. We used the [HF repository](https://huggingface.co/datasets/financial_phrasebank) to import the dataset.

**Note:** The sentiment analysis is a well-established research area and financial phrasebank is only one dataset of this domain. If you would like to use more datasets to train the model, you can check the following links: [Financial News Dataset](https://www.kaggle.com/ankurzing/sentiment-analysis-for-financial-news), [Financial Tweets](https://www.kaggle.com/davidwallach/financial-tweets), [Financial News Sentiment](https://www.kaggle.com/ankurzing/sentiment-analysis-for-financial-news)

In [3]:
# Load the financial sentiment dataset
fin_sentiment = load_dataset("financial_phrasebank", "sentences_50agree") # 2.26K rows with text and labels, all agreed by annotators. 
# Check the training data
fin_sentiment_df = pd.DataFrame(fin_sentiment['train'])

In [4]:
fin_sentiment_df.head()

                                            sentence  label
0  According to Gran , the company has no plans t...      1
1  Technopolis plans to develop in stages an area...      1
2  The international electronic industry company ...      0
3  With the new production plant the company woul...      2
4  According to the company 's updated strategy f...      2

In [6]:
# Check the distribution of the labels
fin_sentiment_df['label'].value_counts()

label
1    2879
2    1363
0     604
Name: count, dtype: int64

In [7]:
# Check the normalised distribution of the labels
fin_sentiment_df['label'].value_counts(normalize=True)

label
1    0.594098
2    0.281263
0    0.124639
Name: proportion, dtype: float64

In [5]:
# If you want to save the dataset to a csv file
fin_sentiment_df.to_csv('../data/financial_phrasebank_50agree.csv', index=False)

# AStock

Homepage: <https://github.com/JinanZou/Astock>

In [1]:
!mkdir ../data/astock
!wget -O ../data/astock/train.csv https://raw.githubusercontent.com/JinanZou/Astock/main/data/train.csv
!wget -O ../data/astock/test.csv https://raw.githubusercontent.com/JinanZou/Astock/main/data/test.csv
!wget -O ../data/astock/val.csv https://raw.githubusercontent.com/JinanZou/Astock/main/data/val.csv
!wget -O ../data/astock/df_all_year_srl.csv https://raw.githubusercontent.com/JinanZou/Astock/main/data/df_all_year_srl.csv
!wget -O ../data/astock/ood.csv https://raw.githubusercontent.com/JinanZou/Astock/main/data/ood.csv

--2024-06-13 11:57:53--  https://raw.githubusercontent.com/JinanZou/Astock/main/data/train.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 32359692 (31M) [text/plain]
Saving to: '../data/astock/train.csv'

../data/astock/trai 100%[===================>]  30.86M  6.60MB/s    in 3.9s

2024-06-13 11:57:58 (7.96 MB/s) - '../data/astock/train.csv' saved [32359692/32359692]

--2024-06-13 11:57:59--  https://raw.githubusercontent.com/JinanZou/Astock/main/data/test.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4001474 (3.8M) [application/octet-stream]
Saving to: '../data/astock/test.csv'

../data/astock/test 100%[===================>]   3.82M  12.8MB/s    in 0.3s

2024-06-13 11:58:00 (12.8 MB/s) - '../data/astock/test.csv' saved [4001474/4001474]

--2024-06-13 11:58:00--  https://raw.githubusercontent.com/JinanZou/Astock/main/data/val.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4058387 (3.9M) [text/plain]
Saving to: '../data/astock/val.csv'

../data/astock/val. 100%[===================>]   3.87M  14.5MB/s    in 0.3s

2024-06-13 11:58:01 (14.5 MB/s) - '../data/astock/val.csv' saved [4058387/4058387]

--2024-06-13 11:58:01--  https://raw.githubusercontent.com/JinanZou/Astock/main/data/df_all_year_srl.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 43410579 (41M) [application/octet-stream]
Saving to: '../data/astock/df_all_year_srl.csv'

../data/astock/df_a 100%[===================>]  41.40M  3.58MB/s    in 9.1s

2024-06-13 11:58:11 (4.56 MB/s) - '../data/astock/df_all_year_srl.csv' saved [43410579/43410579]

--2024-06-13 11:58:12--  https://raw.githubusercontent.com/JinanZou/Astock/main/data/ood.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26181252 (25M) [text/plain]
Saving to: '../data/astock/ood.csv'

../data/astock/ood. 100%[===================>]  24.97M  8.42MB/s    in 3.0s

2024-06-13 11:58:16 (8.42 MB/s) - '../data/astock/ood.csv' saved [26181252/26181252]

In [15]:
df = pd.read_csv('../data/astock/ood.csv', delimiter='\t')

In [16]:
df.head()

,CODE,NAME,DATE,CREATED_DATE,text_a,DESCRIPTION,READ,MARKET,CHANGE,FIRST_DAY,...,verb_mask,A0_mask,A1_mask,AV_num,trade_date,open_close_chg,co_label,cc_label,stock_factors,label
0,600006,东风汽车,2021-04-02 16:37:00,2021-04-02 16:33:00,东风汽车公告，3月汽车销量为2.31万辆，上年同期为1.37万辆，同比增长68.74%；一季...,东风汽车公告，3月汽车销量为2.31万辆，上年同期为1.37万辆，同比增长68.74%；一季...,4155194.0,1.0,0.003175,2021-04-02,...,[[0. 0. 0. ... 0. 0. 0.]\n [0. 0. 0. ... 0. 0....,[[0. 0. 0. ... 0. 0. 0.]\n [0. 0. 0. ... 0. 0....,[[0. 0. 0. ... 0. 0. 0.]\n [0. 0. 0. ... 0. 0....,2.0,2021-04-02,0.134491,0.0,1.0,"[-0.3020583603065712, -0.2981298667692732, -0....",1
1,601880,大连港,2021-01-11 18:47:00,2021-01-11 18:47:00,营口港公告，公司发布了《营口港务股份有限公司关于大连港股份有限公司换股吸收合并公司并募集配套...,营口港公告，公司发布了《营口港务股份有限公司关于大连港股份有限公司换股吸收合并公司并募集配套...,5379661.0,1.0,0.000000,2021-01-11,...,[[0. 0. 0. ... 0. 0. 0.]\n [0. 0. 0. ... 0. 0....,[[0. 0. 0. ... 0. 0. 0.]\n [0. 0. 0. ... 0. 0....,[[0. 0. 0. ... 0. 0. 0.]\n [0. 0. 0. ... 0. 0....,4.0,2021-01-11,0.210301,2.0,3.0,"[-0.3868333706631927, -0.3828631887629431, -0....",1
2,2271,东方雨虹,2021-02-07 16:55:00,2021-02-07 16:55:00,东方雨虹公告，非公开发行股票申请获得中国证监会核准批文。,东方雨虹公告，非公开发行股票申请获得中国证监会核准批文。,5442991.0,0.0,-0.014683,2021-02-05,...,[[0. 0. 0. ... 0. 0. 0.]\n [0. 0. 0. ... 0. 0....,[[0. 0. 0. ... 0. 0. 0.]\n [0. 0. 0. ... 0. 0....,[[0. 0. 0. ... 0. 0. 0.]\n [0. 0. 0. ... 0. 0....,1.0,2021-02-05,-1.108554,0.0,1.0,"[0.5756114363380322, 0.5596214058343731, 0.558...",0
3,603486,科沃斯,2021-01-18 18:26:00,2021-01-18 18:18:00,科沃斯公告，公司持股4.12%的股东泰怡凱電器有限公司拟减持不超过1693.10万股，即不超...,科沃斯公告，公司持股4.12%的股东泰怡凱電器有限公司拟减持不超过1693.10万股，即不超...,5457064.0,1.0,-0.045938,2021-01-18,...,[[0. 0. 0. ... 0. 0. 0.]\n [0. 0. 0. ... 0. 0....,[[0. 0. 0. ... 0. 0. 0.]\n [0. 0. 0. ... 0. 0....,[[0. 0. 0. ... 0. 0. 0.]\n [0. 0. 0. ... 0. 0....,1.0,2021-01-18,-3.260698,0.0,0.0,"[1.8006385305400538, 1.7302126454124178, 1.655...",0
4,600319,ST亚星,2021-01-17 19:21:00,2021-01-17 19:20:00,ST亚星公告，公司收上交所问询函，此前公司称拟终止筹划重大资产重组暨签订现金收购景芝酒业白酒...,ST亚星公告，公司收上交所问询函，此前公司称拟终止筹划重大资产重组暨签订现金收购景芝酒业白酒...,5456051.0,1.0,-0.049869,2021-01-15,...,[[0. 0. 0. ... 0. 0. 0.]\n [0. 0. 0. ... 0. 0....,[[0. 0. 0. ... 0. 0. 0.]\n [0. 0. 0. ... 0. 0....,[[0. 0. 0. ... 0. 0. 0.]\n [0. 0. 0. ... 0. 0....,2.0,2021-01-15,-3.283389,4.0,4.0,"[-0.2663411732838291, -0.2732655989281695, -0....",0

## Financial QA Dataset

Homepage: [FinQA](https://github.com/czyssrs/FinQA)

A large scale dataset to develop analysis capability on business financials, numerical reasoning, and understand heterogenous representation.

In [ ]:
!mkdir ../data/finqa
!wget -O ../data/finqa/train.json https://raw.githubusercontent.com/czyssrs/FinQA/main/dataset/train.json # Approximately 15MB
!wget -O ../data/finqa/dev.json https://raw.githubusercontent.com/czyssrs/FinQA/main/dataset/dev.json # Approximately 2MB
!wget -O ../data/finqa/test.json https://raw.githubusercontent.com/czyssrs/FinQA/main/dataset/test.json # Approximately 2MB

In [8]:
finqa_train = pd.read_json('../data/finqa/train.json')

In [9]:
finqa_train.head()

,pre_text,post_text,filename,table_ori,table,qa,id,table_retrieved,text_retrieved,table_retrieved_all,text_retrieved_all
0,[interest rate to a variable interest rate bas...,[fair value of forward exchange contracts afte...,ADI/2009/page_49.pdf,"[[, October 31, 2009, November 1, 2008], [Fair...","[[, october 31 2009, november 1 2008], [fair v...",{'question': 'what is the the interest expense...,ADI/2009/page_49.pdf-1,"[{'score': -0.620767951011657, 'ind': 'table_1...","[{'score': 1.251369595527649, 'ind': 'text_1'}...","[{'score': -0.620767951011657, 'ind': 'table_1...","[{'score': 1.251369595527649, 'ind': 'text_1'}..."
1,"[abiomed , inc ., and subsidiaries notes to co...",[the remaining unrecognized compensation expen...,ABMD/2012/page_75.pdf,"[[, Number of Shares (in thousands), Weighted ...","[[, number of shares ( in thousands ), weighte...","{'question': 'during the 2012 year , did the e...",ABMD/2012/page_75.pdf-1,"[{'score': 1.944458127021789, 'ind': 'table_2'}]","[{'score': 1.835455536842346, 'ind': 'text_15'...","[{'score': 1.944458127021789, 'ind': 'table_2'...","[{'score': 1.835455536842346, 'ind': 'text_15'..."
2,[the following table shows annual aircraft fue...,"[as of december 31 , 2018 , we did not have an...",AAL/2018/page_13.pdf,"[[Year, Gallons, Average Priceper Gallon, Airc...","[[year, gallons, average priceper gallon, airc...",{'question': 'what was the total operating exp...,AAL/2018/page_13.pdf-2,"[{'score': 1.610554456710815, 'ind': 'table_1'...","[{'score': -1.64792251586914, 'ind': 'text_9'}...","[{'score': 1.610554456710815, 'ind': 'table_1'...","[{'score': -1.64792251586914, 'ind': 'text_9'}..."
3,[the fair value of our grants receivable is de...,"[in the third quarter of 2013 , we sold our sh...",INTC/2013/page_71.pdf,"[[(In Millions), Dec 28,2013, Dec 29,2012], [A...","[[( in millions ), dec 282013, dec 292012], [a...",{'question': 'what percentage of total cash an...,INTC/2013/page_71.pdf-4,"[{'score': 2.9937365055084233, 'ind': 'table_8...","[{'score': -2.141725540161133, 'ind': 'text_9'...","[{'score': 2.9937365055084233, 'ind': 'table_8...","[{'score': -2.141725540161133, 'ind': 'text_9'..."
4,"[entergy louisiana , llc management's financia...",[the retail electric price variance is primari...,ETR/2008/page_313.pdf,"[[, Amount (In Millions)], [2007 net revenue, ...","[[, amount ( in millions )], [2007 net revenue...",{'question': 'what is the growth rate in net r...,ETR/2008/page_313.pdf-3,"[{'score': 3.095985174179077, 'ind': 'table_6'...","[{'score': -0.5041980147361751, 'ind': 'text_2'}]","[{'score': 3.095985174179077, 'ind': 'table_6'...","[{'score': -0.5041980147361751, 'ind': 'text_2..."

In [10]:
finqa_train.describe()

,pre_text,post_text,filename,table_ori,table,qa,id,table_retrieved,text_retrieved,table_retrieved_all,text_retrieved_all
count,6251,6251,6251,6251,6251,6251,6251,6251,6251,6251,6251
unique,2090,1862,2110,2098,2097,6203,6251,5758,5580,6192,6194
top,[.],[.],CME/2017/page_83.pdf,"[[Current assets, $1,922], [Long-term assets, ...","[[current assets, $ 1922], [long-term assets, ...",{'question': 'what percent did purchase issuan...,ADI/2009/page_49.pdf-1,[],[],"[{'score': -0.5908989310264581, 'ind': 'table_...","[{'score': 2.742092132568359, 'ind': 'text_17'..."
freq,20,639,6,9,9,2,1,440,620,2,2

In [11]:
finqa_train.dtypes

pre_text               object
post_text              object
filename               object
table_ori              object
table                  object
qa                     object
id                     object
table_retrieved        object
text_retrieved         object
table_retrieved_all    object
text_retrieved_all     object
dtype: object

In [12]:
entry = finqa_train.iloc[0]
question = entry["qa"]["question"]

print(question)

context = ""
for ind, each_sent in entry["qa"]["model_input"]:
    context += each_sent
    context += " "

print(context)

context = ""
for each_con in entry["qa"]["gold_inds"]:
    context += entry["qa"]["gold_inds"][each_con]
    context += " "

print(context)

table = entry["table"]
print(table)

what is the the interest expense in 2009?
interest rate to a variable interest rate based on the three-month libor plus 2.05% ( 2.05 % ) ( 2.34% ( 2.34 % ) as of october 31 , 2009 ) . if libor changes by 100 basis points , our annual interest expense would change by $ 3.8 million . dollar , would have on the fair value of our forward exchange contracts as of october 31 , 2009 and november 1 , 2008: .
if libor changes by 100 basis points , our annual interest expense would change by $ 3.8 million .
[['', 'october 31 2009', 'november 1 2008'], ['fair value of forward exchange contracts asset ( liability )', '$ 6427', '$ -23158 ( 23158 )'], ['fair value of forward exchange contracts after a 10% ( 10 % ) unfavorable movement in foreign currency exchange rates asset ( liability )', '$ 20132', '$ -9457 ( 9457 )'], ['fair value of forward exchange contracts after a 10% ( 10 % ) favorable movement in foreign currency exchange rates liability', '$ -6781 ( 6781 )', '$ -38294 ( 38294 )']]

# Flare FinQA

Part of the [PIXIU](https://github.com/The-FinAI/PIXIU) project, researchers and practitioners from China, UK and US created datasets that can be ready-to-feed in the LLM prompting format. Called FLARE Evaluation datasets, they present a set of prompt-based datasets: [see HF Repo](https://huggingface.co/collections/ChanceFocus/flare-evaluation-datasets-english-6529286a147d9119a64689c0). In the Flare-FinQA, they convert the FinQA dataset to work with prompt-based strategies.

In [13]:
dataset = load_dataset("ChanceFocus/flare-finqa") #Approximate Size: 16MB
print(dataset)

DatasetDict({
    train: Dataset({
        features: ['id', 'query', 'answer', 'text'],
        num_rows: 6251
    })
    test: Dataset({
        features: ['id', 'query', 'answer', 'text'],
        num_rows: 1147
    })
    valid: Dataset({
        features: ['id', 'query', 'answer', 'text'],
        num_rows: 883
    })
})

In [14]:
entry = dataset['train'][5]
query = entry["query"]
answer = entry["answer"]

print(query)
print(answer)

Please answer the given financial question based on the context.
Context: the significant changes from december 31 , 2008 to december 31 , 2009 in level 3 assets and liabilities are due to : a net decrease in trading securities of $ 10.8 billion that was driven by : 2022 net transfers of $ 6.5 billion , due mainly to the transfer of debt 2013 securities from level 3 to level 2 due to increased liquidity and pricing transparency ; and net settlements of $ 5.8 billion , due primarily to the liquidations of 2013 subprime securities of $ 4.1 billion . the change in net trading derivatives driven by : 2022 a net loss of $ 4.9 billion relating to complex derivative contracts , 2013 such as those linked to credit , equity and commodity exposures . these losses include both realized and unrealized losses during 2009 and are partially offset by gains recognized in instruments that have been classified in levels 1 and 2 ; and net increase in derivative assets of $ 4.3 billion , which includes cash 2013 settlements of derivative contracts in an unrealized loss position , notably those linked to subprime exposures . the decrease in level 3 investments of $ 6.9 billion primarily 2022 resulted from : a reduction of $ 5.0 billion , due mainly to paydowns on debt 2013 securities and sales of private equity investments ; the net transfer of investment securities from level 3 to level 2 2013 of $ 1.5 billion , due to increased availability of observable pricing inputs ; and net losses recognized of $ 0.4 billion due mainly to losses on non- 2013 marketable equity securities including write-downs on private equity investments . the decrease in securities sold under agreements to repurchase of 2022 $ 9.1 billion is driven by a $ 8.6 billion net transfers from level 3 to level 2 as effective maturity dates on structured repos have shortened . the decrease in long-term debt of $ 1.5 billion is driven mainly by 2022 $ 1.3 billion of net terminations of structured notes . transfers between level 1 and level 2 of the fair value hierarchy the company did not have any significant transfers of assets or liabilities between levels 1 and 2 of the fair value hierarchy during 2010 . items measured at fair value on a nonrecurring basis certain assets and liabilities are measured at fair value on a nonrecurring basis and therefore are not included in the tables above . these include assets measured at cost that have been written down to fair value during the periods as a result of an impairment . in addition , these assets include loans held-for-sale that are measured at locom that were recognized at fair value below cost at the end of the period . the fair value of loans measured on a locom basis is determined where possible using quoted secondary-market prices . such loans are generally classified as level 2 of the fair value hierarchy given the level of activity in the market and the frequency of available quotes . if no such quoted price exists , the fair value of a loan is determined using quoted prices for a similar asset or assets , adjusted for the specific attributes of that loan . the following table presents all loans held-for-sale that are carried at locom as of december 31 , 2010 and 2009 : in billions of dollars aggregate cost fair value level 2 level 3 .
|in billions of dollars|aggregate cost|fair value|level 2|level 3|
|december 31 2010|$ 3.1|$ 2.5|$ 0.7|$ 1.8|
|december 31 2009|$ 2.5|$ 1.6|$ 0.3|$ 1.3|
.
Question: what was the growth rate of the loans held-for-sale that are carried at locom from 2009 to 2010
Answer:
0.97656

In [15]:
flare_finqa_df = pd.DataFrame(dataset['train'])
flare_finqa_df.to_csv('../data/flare_finqa_train.csv', index=False) 
flare_finqa_df = pd.DataFrame(dataset['valid'])
flare_finqa_df.to_csv('../data/flare_finqa_valid.csv', index=False)
flare_finqa_df = pd.DataFrame(dataset['test'])
flare_finqa_df.to_csv('../data/flare_finqa_test.csv', index=False)

You can also directly download the HF datasets, using Github LFS and read the parquet files. See the example below:

```python
import pyarrow.parquet as pq

# columns=['col1', 'col2'] to restrict loaded columns
pds = pq.read_pandas('../data/flare-finqa/data/train.parquet', columns=None).to_pandas()

# path_or_buf='output.jsonl.gz' to output to a file instead of stdout
pds.to_json(path_or_buf="../data/flare_finqa_train.json", orient='records', lines=True, date_format='iso', date_unit='us', compression='gzip')
```

# ConvFinQA Dataset

Homepage: <https://github.com/czyssrs/ConvFinQA>

From the creators of the FinQA, this dataset still aims to improve "numerical reasoning" skills of language models, presented in a conversational format.

In [24]:
!mkdir ../data/convfinqa
!wget -O ../data/convfinqa/data.zip https://github.com/czyssrs/ConvFinQA/raw/main/data.zip #Approximate Size: 17MB
!unzip ../data/convfinqa/data.zip -d data/convfinqa
!rm ../data/convfinqa/data.zip

--2024-03-13 18:38:12--  https://github.com/czyssrs/ConvFinQA/raw/main/data.zip
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/czyssrs/ConvFinQA/main/data.zip [following]
--2024-03-13 18:38:13--  https://raw.githubusercontent.com/czyssrs/ConvFinQA/main/data.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 17512756 (17M) [application/zip]
Saving to: 'data/convfinqa/data.zip'

data/convfinqa/data 100%[===================>]  16.70M  24.2MB/s    in 0.7s

2024-03-13 18:38:15 (24.2 MB/s) - 'data/convfinqa/data.zip' saved [17512756/17512756]

Archive:  data/convfinqa/data.zip
   creating: data/convfinqa/data/
  inflating: data/convfinqa/data/test_private.json
  inflating: data/convfinqa/data/train.json
  inflating: data/convfinqa/data/dev_turn.json
  inflating: data/convfinqa/data/test_turn_private.json
  inflating: data/convfinqa/data/train_turn.json
  inflating: data/convfinqa/data/dev.json

In [25]:
convfinqa_train = pd.read_json('../data/convfinqa/data/train.json')
convfinqa_train.head()

,pre_text,post_text,filename,table_ori,table,qa,id,annotation,qa_0,qa_1
0,"[26 | 2009 annual report in fiscal 2008 , reve...","[year ended june 30 , cash provided by operati...",JKHY/2009/page_28.pdf,"[[, Year ended June 30, 2009], [2008, 2007], [...","[[2008, year ended june 30 2009 2008, year end...",{'question': 'what was the percentage change i...,Single_JKHY/2009/page_28.pdf-3,{'amt_table': '<table class='wikitable'><tr><t...,NaN,NaN
1,[substantially all of the goodwill and other i...,[the above unaudited pro forma financial infor...,RSG/2008/page_114.pdf,"[[, Year Ended December 31, 2008 (Unaudited), ...","[[, year ended december 31 2008 ( unaudited ),...",{'question': 'what was the percent of the grow...,Single_RSG/2008/page_114.pdf-2,{'amt_table': '<table class='wikitable'><tr><t...,NaN,NaN
2,[in a new business model such as the retail se...,[.],AAPL/2002/page_23.pdf,"[[, 2002, 2001, 2000], [Net sales, $5,742, $5,...","[[, 2002, 2001, 2000], [net sales, $ 5742, $ 5...",{'question': 'what was the percentage change i...,Single_AAPL/2002/page_23.pdf-1,{'amt_table': '<table class='wikitable'><tr><t...,NaN,NaN
3,[( 1 ) includes shares repurchased through our...,[.],UPS/2009/page_33.pdf,"[[, 12/31/04, 12/31/05, 12/31/06, 12/31/07, 12...","[[, 12/31/04, 12/31/05, 12/31/06, 12/31/07, 12...",{'question': 'what was the difference in perce...,Single_UPS/2009/page_33.pdf-2,{'amt_table': '<table class='wikitable'><tr><t...,NaN,NaN
4,[( 1 ) includes shares repurchased through our...,[.],UPS/2009/page_33.pdf,"[[, 12/31/04, 12/31/05, 12/31/06, 12/31/07, 12...","[[, 12/31/04, 12/31/05, 12/31/06, 12/31/07, 12...",NaN,Double_UPS/2009/page_33.pdf,{'amt_table': '<table class='wikitable'><tr><t...,{'question': 'what is the roi of an investment...,{'question': 'what was the difference in perce...

In [34]:
entry = convfinqa_train.iloc[0]
question = entry["qa"]["question"]
pre_text = entry["pre_text"]
table = entry["table"]
post_text = entry["post_text"]

print(question)
print(table)
print(pre_text)
print(post_text)

what was the percentage change in the net cash from operating activities from 2008 to 2009
[['2008', 'year ended june 30 2009 2008', 'year ended june 30 2009 2008', 'year ended june 30 2009'], ['net income', '$ 103102', '$ 104222', '$ 104681'], ['non-cash expenses', '74397', '70420', '56348'], ['change in receivables', '21214', '-2913 ( 2913 )', '-28853 ( 28853 )'], ['change in deferred revenue', '21943', '5100', '24576'], ['change in other assets and liabilities', '-14068 ( 14068 )', '4172', '17495'], ['net cash from operating activities', '$ 206588', '$ 181001', '$ 174247']]
['26 | 2009 annual report in fiscal 2008 , revenues in the credit union systems and services business segment increased 14% ( 14 % ) from fiscal 2007 .', 'all revenue components within the segment experienced growth during fiscal 2008 .', 'license revenue generated the largest dollar growth in revenue as episys ae , our flagship core processing system aimed at larger credit unions , experienced strong sales throughout the year .', 'support and service revenue , which is the largest component of total revenues for the credit union segment , experienced 34 percent growth in eft support and 10 percent growth in in-house support .', 'gross profit in this business segment increased $ 9344 in fiscal 2008 compared to fiscal 2007 , due primarily to the increase in license revenue , which carries the highest margins .', 'liquidity and capital resources we have historically generated positive cash flow from operations and have generally used funds generated from operations and short-term borrowings on our revolving credit facility to meet capital requirements .', 'we expect this trend to continue in the future .', 'the company 2019s cash and cash equivalents increased to $ 118251 at june 30 , 2009 from $ 65565 at june 30 , 2008 .', 'the following table summarizes net cash from operating activities in the statement of cash flows : 2009 2008 2007 .']
['year ended june 30 , cash provided by operations increased $ 25587 to $ 206588 for the fiscal year ended june 30 , 2009 as compared to $ 181001 for the fiscal year ended june 30 , 2008 .', 'this increase is primarily attributable to a decrease in receivables compared to the same period a year ago of $ 21214 .', 'this decrease is largely the result of fiscal 2010 annual software maintenance billings being provided to customers earlier than in the prior year , which allowed more cash to be collected before the end of the fiscal year than in previous years .', 'further , we collected more cash overall related to revenues that will be recognized in subsequent periods in the current year than in fiscal 2008 .', 'cash used in investing activities for the fiscal year ended june 2009 was $ 59227 and includes $ 3027 in contingent consideration paid on prior years 2019 acquisitions .', 'cash used in investing activities for the fiscal year ended june 2008 was $ 102148 and includes payments for acquisitions of $ 48109 , plus $ 1215 in contingent consideration paid on prior years 2019 acquisitions .', 'capital expenditures for fiscal 2009 were $ 31562 compared to $ 31105 for fiscal 2008 .', 'cash used for software development in fiscal 2009 was $ 24684 compared to $ 23736 during the prior year .', 'net cash used in financing activities for the current fiscal year was $ 94675 and includes the repurchase of 3106 shares of our common stock for $ 58405 , the payment of dividends of $ 26903 and $ 13489 net repayment on our revolving credit facilities .', 'cash used in financing activities was partially offset by proceeds of $ 3773 from the exercise of stock options and the sale of common stock ( through the employee stock purchase plan ) and $ 348 excess tax benefits from stock option exercises .', 'during fiscal 2008 , net cash used in financing activities for the fiscal year was $ 101905 and includes the repurchase of 4200 shares of our common stock for $ 100996 , the payment of dividends of $ 24683 and $ 429 net repayment on our revolving credit facilities .', 'cash used in financing activities was partially offset by proceeds of $ 20394 from the exercise of stock options and the sale of common stock and $ 3809 excess tax benefits from stock option exercises .', 'beginning during fiscal 2008 , us financial markets and many of the largest us financial institutions have been shaken by negative developments in the home mortgage industry and the mortgage markets , and particularly the markets for subprime mortgage-backed securities .', 'since that time , these and other such developments have resulted in a broad , global economic downturn .', 'while we , as is the case with most companies , have experienced the effects of this downturn , we have not experienced any significant issues with our current collection efforts , and we believe that any future impact to our liquidity will be minimized by cash generated by recurring sources of revenue and due to our access to available lines of credit. .']

# FLARE ConvFinQA

Similar to other FLARE datasets, it is the prompt-ready version of the ConvFinQA dataset.

In [26]:
dataset = load_dataset("ChanceFocus/flare-convfinqa") #Approximate Size: 12 MB

Downloading readme: 100%|██████████| 622/622 [00:00<00:00, 6.27MB/s]
Downloading data: 100%|██████████| 8.35M/8.35M [00:06<00:00, 1.36MB/s]
Downloading data: 100%|██████████| 1.35M/1.35M [00:01<00:00, 996kB/s]
Downloading data: 100%|██████████| 2.10M/2.10M [00:01<00:00, 1.49MB/s]
Generating train split: 100%|██████████| 8891/8891 [00:00<00:00, 169552.55 examples/s]
Generating test split: 100%|██████████| 1490/1490 [00:00<00:00, 177065.11 examples/s]
Generating valid split: 100%|██████████| 2213/2213 [00:00<00:00, 142885.65 examples/s]

In [29]:
entry = dataset['train'][0]
query = entry["query"]
answer = entry["answer"]

print(query)
print(answer)

In the context of this series of interconnected finance-related queries and the additional information provided by the pretext, table data, and posttext from a company's financial filings, please provide a response to the final question. This may require extracting information from the context and performing mathematical calculations. Please take into account the information provided in the preceding questions and their answers when formulating your response:
Context: 26 | 2009 annual report in fiscal 2008 , revenues in the credit union systems and services business segment increased 14% ( 14 % ) from fiscal 2007 . all revenue components within the segment experienced growth during fiscal 2008 . license revenue generated the largest dollar growth in revenue as episys ae , our flagship core processing system aimed at larger credit unions , experienced strong sales throughout the year . support and service revenue , which is the largest component of total revenues for the credit union segment , experienced 34 percent growth in eft support and 10 percent growth in in-house support . gross profit in this business segment increased $ 9344 in fiscal 2008 compared to fiscal 2007 , due primarily to the increase in license revenue , which carries the highest margins . liquidity and capital resources we have historically generated positive cash flow from operations and have generally used funds generated from operations and short-term borrowings on our revolving credit facility to meet capital requirements . we expect this trend to continue in the future . the company 2019s cash and cash equivalents increased to $ 118251 at june 30 , 2009 from $ 65565 at june 30 , 2008 . the following table summarizes net cash from operating activities in the statement of cash flows : 2009 2008 2007 . <table class='wikitable'><tr><td>1</td><td>2008</td><td>year ended june 30 2009 2008</td><td>year ended june 30 2009 2008</td><td>year ended june 30 2009</td></tr><tr><td>2</td><td>net income</td><td>$ 103102</td><td>$ 104222</td><td>$ 104681</td></tr><tr><td>3</td><td>non-cash expenses</td><td>74397</td><td>70420</td><td>56348</td></tr><tr><td>4</td><td>change in receivables</td><td>21214</td><td>-2913 ( 2913 )</td><td>-28853 ( 28853 )</td></tr><tr><td>5</td><td>change in deferred revenue</td><td>21943</td><td>5100</td><td>24576</td></tr><tr><td>6</td><td>change in other assets and liabilities</td><td>-14068 ( 14068 )</td><td>4172</td><td>17495</td></tr><tr><td>7</td><td>net cash from operating activities</td><td>$ 206588</td><td>$ 181001</td><td>$ 174247</td></tr></table> year ended june 30 , cash provided by operations increased $ 25587 to $ 206588 for the fiscal year ended june 30 , 2009 as compared to $ 181001 for the fiscal year ended june 30 , 2008 . this increase is primarily attributable to a decrease in receivables compared to the same period a year ago of $ 21214 . this decrease is largely the result of fiscal 2010 annual software maintenance billings being provided to customers earlier than in the prior year , which allowed more cash to be collected before the end of the fiscal year than in previous years . further , we collected more cash overall related to revenues that will be recognized in subsequent periods in the current year than in fiscal 2008 . cash used in investing activities for the fiscal year ended june 2009 was $ 59227 and includes $ 3027 in contingent consideration paid on prior years 2019 acquisitions . cash used in investing activities for the fiscal year ended june 2008 was $ 102148 and includes payments for acquisitions of $ 48109 , plus $ 1215 in contingent consideration paid on prior years 2019 acquisitions . capital expenditures for fiscal 2009 were $ 31562 compared to $ 31105 for fiscal 2008 . cash used for software development in fiscal 2009 was $ 24684 compared to $ 23736 during the prior year . net cash used in financing activities for the current fiscal year was $ 94675 and includes the repurchase of 3106 shares of our common stock for $ 58405 , the payment of dividends of $ 26903 and $ 13489 net repayment on our revolving credit facilities . cash used in financing activities was partially offset by proceeds of $ 3773 from the exercise of stock options and the sale of common stock ( through the employee stock purchase plan ) and $ 348 excess tax benefits from stock option exercises . during fiscal 2008 , net cash used in financing activities for the fiscal year was $ 101905 and includes the repurchase of 4200 shares of our common stock for $ 100996 , the payment of dividends of $ 24683 and $ 429 net repayment on our revolving credit facilities . cash used in financing activities was partially offset by proceeds of $ 20394 from the exercise of stock options and the sale of common stock and $ 3809 excess tax benefits from stock option exercises . beginning during fiscal 2008 , us financial markets and many of the largest us financial institutions have been shaken by negative developments in the home mortgage industry and the mortgage markets , and particularly the markets for subprime mortgage-backed securities . since that time , these and other such developments have resulted in a broad , global economic downturn . while we , as is the case with most companies , have experienced the effects of this downturn , we have not experienced any significant issues with our current collection efforts , and we believe that any future impact to our liquidity will be minimized by cash generated by recurring sources of revenue and due to our access to available lines of credit. .
Conversations:
Question: what is the net cash from operating activities in 2009?
Answer:
206588.0

# IBM FinTabNet

Homepage: [IBM FinTabNet](https://developer.ibm.com/exchanges/data/all/fintabnet/)
Data Exploration Notebook: [IBM - Fintabnet - EDA](https://dataplatform.cloud.ibm.com/analytics/notebooks/v2/f57cf3f6-e972-48ff-ab7b-3771ba7b9683/view?access_token=317644327d84f5d75b4782f97499146c78d029651a7c7ace050f4a7656033c30)

The IBM FinTabNet dataset is a large scale dataset for financial table to text generation. It has been created by IBM Research AI. You can download the dataset by uncommenting the following commands. The dataset size is 16GB. And the sister project SynthTabNet (synthetically generated documents) is 10GB in size.

In [ ]:
#!wget -O ../data/fintabnet.tar.gz https://dax-cdn.cdn.appdomain.cloud/dax-fintabnet/1.0.0/fintabnet.tar.gz #Approximate Size: 16GB

# FinTabNet consists of real public documents. SynthTabNet is another dataset from synthetically generated table layouts with annotations in jsonl files. If you want to work with synthetic data, you can download the SynthTabNet dataset from the following link:

#!wget -O ../data/synthtabnet.tar.gz https://ds4sd-public-artifacts.s3.eu-de.cloud-object-storage.appdomain.cloud/datasets/synthtabnet_public/v2.0.0/fintabnet.zip #Approximate Size: 10GB

In [ ]:
# Uncomment the following code to extract the dataset
"""
import tarfile
from os import path

#Extracting the dataset
tar = tarfile.open("../data/fintabnet.tar.gz") 
if hasattr(tarfile, 'data_filter'):
    tar.extractall(filter='data')
else:
    # remove this when no longer needed
    print('Extracting may be unsafe; consider updating Python')
    tar.extractall()
tar.close()

# Verifying the file was extracted properly
data_path = "examples/"
path.exists(data_path)
"""

In [4]:
# Parse the JSON file and read all the images and labels
import json

# Download the example file from using:
# !wget https://dax-cdn.cdn.appdomain.cloud/dax-fintabnet/1.0.0/examples.tar.gz ./data/fintabnet-examples.tar.gz

with open('../data/fintabnet-examples/FinTabNet_1.0.0_table_example.jsonl', 'r') as fp:
    images = {}
    for line in fp:
        sample = json.loads(line)
        # Index images
        if sample['filename'] in images:
            annotations = images[sample['filename']]["annotations"]
            html = images[sample['filename']]["html"]
        else:
            annotations = []
            html = ""
        for t, token in enumerate(sample["html"]["cells"]):
            if "bbox" in token:
                annotations.append({"category_id":2, "bbox": token["bbox"]})
        #Build html table
        cnt = 0
        for t, token in enumerate(sample["html"]["structure"]["tokens"]):
            html += token
            if token=="<td>":
                html += "".join(sample["html"]["cells"][cnt]["tokens"])
                cnt += 1
        annotations.append({"category_id": 1, "bbox": sample["bbox"]})
        images[sample['filename']] = {'filepath': '../data/fintabnet-examples/pdf/' + sample["filename"], 'html': html, 'annotations': annotations}

In [6]:
import fitz  # PyMuPDF

for i, (filename, image) in enumerate(images.items()):
    pdf_document = fitz.open(image["filepath"])
    pdf_page = pdf_document[0]  # Assuming you want to work with the first page
    pdf_width = int(pdf_page.rect.width)
    pdf_height = int(pdf_page.rect.height)
    img = pdf_page.get_pixmap()
    
    print("Table HTML for page #{}".format(i))
    display(HTML(image['html']))

Table HTML for page #0

Table HTML for page #1

Table HTML for page #2

Table HTML for page #3

Table HTML for page #4

Table HTML for page #5

Table HTML for page #6

Table HTML for page #7

Table HTML for page #8

Table HTML for page #9

# FinTabNet OTSL

An alternative format is OTSL, which is published by the same development team. https://huggingface.co/datasets/ds4sd/FinTabNet_OTSL
This dataset is a conversion of the original FinTabNet into the OTSL format.

In [17]:
# Load the test dataset to explore the data (even the smaller split is 300MB)
dataset = load_dataset("ds4sd/FinTabNet_OTSL", split="test") # Approximate size: 300MB

Downloading data: 100%|██████████| 182M/182M [00:38<00:00, 4.66MB/s]
Downloading data: 100%|██████████| 207M/207M [00:42<00:00, 4.84MB/s]
Downloading data: 100%|██████████| 196M/196M [00:37<00:00, 5.24MB/s]
Downloading data: 100%|██████████| 189M/189M [00:37<00:00, 5.08MB/s]
Downloading data: 100%|██████████| 194M/194M [00:48<00:00, 4.04MB/s]
Downloading data: 100%|██████████| 195M/195M [00:43<00:00, 4.44MB/s]
Downloading data: 100%|██████████| 184M/184M [00:44<00:00, 4.17MB/s]
Downloading data: 100%|██████████| 179M/179M [00:38<00:00, 4.63MB/s]
Downloading data: 100%|██████████| 180M/180M [00:37<00:00, 4.85MB/s]
Downloading data: 100%|██████████| 191M/191M [00:47<00:00, 3.97MB/s]
Downloading data: 100%|██████████| 195M/195M [00:38<00:00, 5.09MB/s]
Downloading data: 100%|██████████| 142M/142M [00:28<00:00, 5.00MB/s]
Downloading data: 100%|██████████| 146M/146M [00:32<00:00, 4.49MB/s]
Downloading data: 100%|██████████| 143M/143M [00:29<00:00, 4.78MB/s]
Downloading data: 100%|██████████| 143M/143M [00:32<00:00, 4.34MB/s]
Generating train split: 88441 examples [00:03, 28381.30 examples/s]
Generating test split: 10397 examples [00:00, 31584.52 examples/s]
Generating val split: 10505 examples [00:00, 31900.89 examples/s]

In [18]:
df = dataset.to_pandas()

In [19]:
df.head()

,filename,split,imgid,dataset,cells,otsl,html,html_restored,cols,rows,html_len,otsl_len,image
0,HAL.2015.page_43.pdf_125177.png,test,125177,ftn,[[{'tokens': ['L' 'a' 'n' 'd' ' ' 'v' 's' '.' ...,"[fcel, fcel, fcel, fcel, nl, fcel, ecel, ecel,...","[<tr>, <td>, </td>, <td>, </td>, <td>, </td>, ...","[<tr>, <td>, </td>, <td>, </td>, <td>, </td>, ...",4,32,320,160,{'bytes': b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHD...
1,HAL.2009.page_77.pdf_125051.png,test,125051,ftn,"[[{'tokens': [], 'bbox': [ -1 3 110 13 1]...","[ecel, fcel, lcel, lcel, nl, fcel, fcel, fcel,...","[<tr>, <td>, </td>, <td, colspan=""3"", >, </td...","[<tr>, <td>, </td>, <td, colspan=""3"", >, </td...",4,8,78,40,{'bytes': b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHD...
2,HAL.2017.page_79.pdf_125247.png,test,125247,ftn,"[[{'tokens': [], 'bbox': [ -1 6 120 16 1]...","[ecel, fcel, fcel, nl, fcel, fcel, fcel, nl, f...","[<tr>, <td>, </td>, <td>, </td>, <td>, </td>, ...","[<tr>, <td>, </td>, <td>, </td>, <td>, </td>, ...",3,3,24,12,{'bytes': b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHD...
3,HAL.2005.page_92.pdf_125215.png,test,125215,ftn,"[[{'tokens': ['D' 'u' 'e'], 'bbox': [ 8 8 20 ...","[fcel, fcel, fcel, nl, fcel, fcel, fcel, nl, f...","[<tr>, <td>, </td>, <td>, </td>, <td>, </td>, ...","[<tr>, <td>, </td>, <td>, </td>, <td>, </td>, ...",3,5,40,20,{'bytes': b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHD...
4,HAL.2014.page_40.pdf_125088.png,test,125088,ftn,"[[{'tokens': [], 'bbox': [ -1 3 118 13 1]...","[ecel, fcel, lcel, lcel, lcel, lcel, ecel, ece...","[<tr>, <td>, </td>, <td, colspan=""5"", >, </td...","[<tr>, <td>, </td>, <td, colspan=""5"", >, </td...",8,8,138,72,{'bytes': b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHD...